<div class="container-fluid size">
  <div class="row">
    <div class="col-12 text-center">
      <a class="navbar-brand text-light" routerLink = "/"><img src="../../../assets/images/konya-teknik.png" width="100px" alt="logo"><h3>Bologna Bilgi Paketi</h3></a><hr style="border-bottom: 1px solid white;">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm navbar-dark size py-2">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-right"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink = "/birimler"  routerLinkActive="active">Birimler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/birimler/doktora"  routerLinkActive="active">Doktora</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/birimler/yukseklisans"  routerLinkActive="active">Yuksek Lisans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/birimler/lisans"  routerLinkActive="active">Lisans</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink = "/birimler/onlisans"  routerLinkActive="active">Ön Lisans</a>
            </li>
          </ul>
        </div>
  </nav>
    </div>
  </div>
</div>
