<div class="container-sm py-5">
  <h2 align="center">{{ genelBilgiler.department_name }}</h2><br><br>
        <nav class="nav nav-tabs  justify-content-center">
            <a class="nav-item nav-link active" data-toggle="tab" href="#about" role="tab" aria-selected="true">Hakkında</a>
            <a class="nav-item nav-link"  data-toggle="tab" href="#courses" role="tab" aria-selected="false">Dersler</a>
            <a class="nav-item nav-link"  data-toggle="tab" href="#pt" role="tab" aria-selected="false">Program Çıktısı</a>
            <a class="nav-item nav-link"  data-toggle="tab" href="#tyyc" role="tab" aria-selected="false">TYYÇ / PÇ İlişkisi</a>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane active" id="about" role="tabpanel">
              <div class="container-sm py-5">
                <div class="list-group">
                  <div  *ngFor="let item of hakkinda |keyvalue :unsorted" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1 font-weight-bold">{{item.key}} :</h5>
                    </div>
                    <p class="mb-1">{{item.value}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="courses" role="tabpanel">
              <ng-container *ngIf="genelBilgiler.links[2]">
                <app-dersler [dersUrl]="genelBilgiler.links[2].href"></app-dersler>
              </ng-container>
            </div>
            <div class="tab-pane" id="pt" role="tabpanel">
              <ng-container *ngIf="genelBilgiler.links[0]">
                <app-programciktisi [url]="genelBilgiler.links[0].href"></app-programciktisi>
              </ng-container>
            </div>  
            <div class="tab-pane" id="tyyc" role="tabpanel">
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 
              </div>
          </div>
</div>
