.custom{
    margin-top: 10px;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
}
.menushadow{
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
}
.custom:hover{
    background-color: #f6424c;
}
.custom:hover > a{
   color: #ffffff;
}
.custom a{
    color: #f6424c;
}
.custom a:hover{
    color: #ffffff;
}
.custom:hover .icon{
    color: #ffffff;
}
.icon{
    margin: auto 10px;
    font-size: 14pt;
    color: #f6424c;
}
